@media (max-width: $screen-sm-max) {
  .content-holder {
    p {
      width: 100%;
    }
  }
}
@media (max-width: $screen-xs-max) {
  .menu {
    width: 100%;
    a {
      text-align: center;
    }
    .list-inline {
      text-align: center;
    }
  }
}
