@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0095D7 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$facebook: #3a579d !default;
$linkedin: #0077B5 !default;
$twitter: #49c8f5 !default;
$top-height: 81px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@font-face {
  font-family: "Didot";
  src: url("../fonts/didot.ttf");
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  @include position(relative);
}
body {
  padding-top: $top-height;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a,
.btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
a {
  color: #5f5f5f;
  &:hover {
    color: darken(#5f5f5f, 10%);
    text-decoration: none;
  }
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
.main-banner {
  height: 100%;
  position: relative;
  z-index: 1;
}
.banner2 {
  position: relative;
  font-family: didot;
}
.banner {
  min-height: 100%;
  z-index: 1;
  font-family: didot;
  position: relative;
}
.client-banners {
  background: url("../img/clients/client.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.affilliates-banners {
  background: url("../img/affilliates/affilliates.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact-banners {
  background: url("../img/contact/contact.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.carrers-banners {
  background: url("../img/contact/contact.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.services-banners {
  background: url("../img/services/services.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.pt50 {
  padding-top: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.head-font {
  text-align: center;
  width: 100%;
  h1 {
    margin-top: 0;
    font-size: 40px;
  }
}
.bck-color {
  background: #a3a3a3;
  position: relative;
}
.overview-box {
  @include position(absolute, 50% null null 50%);
  @include transform (translatex(-50%) translatey(-50%));
  width: 60%;
  height: 300px;
  overflow: auto;
}
.up-side {
  @include position(absolute, 50% null null 50%);
  @include transform (translatex(-50%) translatey(-50%));
  h1 {
    font-size: 68px;
    color: #CACACA;
    font-family: 'didot';
    padding-top: 100px;
  }
}
.head-font {
  @extend .up-side;
  text-transform: uppercase;
  h1 {
    padding-top: 0;
  }
}
//bootstrap forms
.flexslider {
  margin: 0;
  border: 0 solid #ffffff;
}
.flex-direction-nav {
  display: none;
}
.fixed-header {
  width: 100%;
  height: $top-height;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
}
.menu {
  width: 270px;
  height: 100%;
  position: fixed;
  top: $top-height;
  right: 0;
  z-index: 3;
  background-color: rgba(123,129,133,0.75);
  overflow-y: auto;
  .navigation {
    .fb {
      a:hover {
        background-color: $facebook;
      }
    }
    .tw {
      a:hover {
        background-color: $twitter;
      }
    }
    .lk {
      a:hover {
        background-color: $linkedin;
      }
    }
    a {
      padding: 15px 20px;
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      border-left: 3px solid transparent;
      &:hover {
        border-left: 3px solid #fff;
        background-color: #646a6c;
      }
    }
  }
}
.social {
  .fa:hover {
    border-left: transparent!important;
  }
}
.image-holder {
  position: relative;
}
.flex-control-paging li a.flex-active {
  background-color: #fff;
}
.content-holder {
  @include position(absolute, null 0 45px 0);
  h3 {
    color: #fff;
    font-size: 32px;
    font-family: "Didot";
    letter-spacing: 2px;
  }
  p {
    width: 48%;
    color: #fff;
    text-align: justify;
  }
  .btn-clear {
    color: #fff;
    display: inline-block;
    padding: 0 5px 0 0;
    &:hover {
      color: $brand-primary;
    }
  }
}
.hamburger {
  margin: 10px 0 0;
  .navbar-toggle {
    display: inline-block;
    background-color: transparent!important;
    margin: 0;
    .icon-bar {
      @include transition(all 300ms ease);
      height: 3px;
      background-color: #646a6c;
    }
  }
}
.menu-in {
  @include transform(translateX(100%));
  @include transition(all 300ms ease);
}
.menu-out {
  @include transform(translateX(0px));
  @include transition(all 300ms ease);
}
.cross-bar {
  span:first-child {
    @include transform(rotate(45deg));
    @include position(relative, 7px null null null);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:last-child {
    @include transform(rotate(-45deg));
    @include position(relative, -7px null null null);
  }
}
.flex-control-nav {
  width: 100%;
  @include position(absolute,null null 20px null);
  text-align: center;
  z-index: 3;
}
.logo {
  display: inline-block;
  img {
    width: auto;
    height: 60px;
  }
}
/*footer*/
.footers {
  padding: 10px 0 0;
  background-color: #35393c;
}
.footer-text {
  p,
  a {
    color: #fff;
  }
}
.footer-text {
  a:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}
.page-auto {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients {
  li {
    display: inline-block;
    width: 33%;
    margin: 10px 0;
    // &:before {
    //   content: "\f111";
    //   font-family: FontAwesome;
    //   color: $brand-primary;
    //   font-size: 6px;
    //   vertical-align: middle;
    //   margin-right: 8px;
    // }
  }
}
.bold{
  font-weight: 600;
}
.dot-blue {
  li {
    &:before {
      content: "\f111";
      font-family: FontAwesome;
      color: $brand-primary;
      font-size: 6px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
.getintouch {
  .form-control {
    border: 0 solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid #D6D6D6;
  }
}
.color-white {
  color: #fff;
}
.appfrom {
  .form-control {
    border: 0 solid #ccc;
    border-radius: 0;
    background: #a3a3a3;
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid #D6D6D6;
    @include placeholder {
      color: #fff;
    }
  }
  .submit-btn .submit {
    color: #fff;
    &:hover {
      color: darken(#fff, 15%);
    }
  }
  .upload-img {
    .btn-upload input {
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
  .btn-upload {
    position: relative;
    overflow: hidden;
    background: #fff;
    &:hover {
      background: darken(#fff, 10%);
    }
    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter:alpha(opacity=0);
    }
  }
  .img-upload {
    margin-bottom: 20px;
    .slider-box {
      padding-bottom: 10px;
    }
  }
}
.font-weight300,
.title h5 {
  font-weight: 300;
}
.font-weight500 {
  font-weight: 500;
}
textarea {
  resize: none;
}
.submit-btn {
  text-align: right;
  .submit {
    font-size: 18px;
    font-weight: 600;
    color: #5f5f5f;
    &:hover {
      color: #5f5f5f;
      text-decoration: none;
    }
  }
}
.contact {
  font-weight: 300;
  margin-bottom: 20px;
  p {
    line-height: 120%;
    margin-bottom: 0;
    font-size: 16px;
  }
}
.services-box-white {
  margin-top: -80px;
  position: relative;
  z-index: 1;
  padding: 50px;
  background: #fff;
  margin-bottom: 20px;
}
.bg-grey {
  background: #ebebeb;
}
.services-list {
  padding: 0 20px;
  .panel-group {
    .panel {
      border-radius: 0;
    }
    .panel-body {
      padding-left: 0;
      background-color: #ebebeb;
      padding: 20px;
    }
    .panel-default {
      border: 0;
      border-bottom: 2px solid;
      border-color: #a3a3a3;
      box-shadow: none;
      .panel-heading {
        color: #333333;
        background-color: #ebebeb;
        border: 0;
        box-shadow: none;
        padding: 0;
        span {
          &:focus {
            outline: 0;
          }
        }
        h4 {
          font-size: 16px;
          margin: 0;
          padding: 0.3em 5px;
          i {
            color: #979797;
          }
        }
        &+ .panel-collapse > .panel-body {
          border-top: 0;
        }
      }
    }
  }
  .panel-group .panel + .panel {
    margin-top: 0;
  }
}
.philosophy-box h5 {
  text-transform: uppercase;
}
/*footer ends*/
/* Start writing sass here */
@import "fancybox-override";
@import "mobile";
