<div class="container">
    <div class="padded text-justify">
        <p>
            <strong>TERMS OF USE INCLUDING PRIVACY POLICY AGREEMENT BETWEEN USER AND INNERGIZE SOLUTIONS PRIVATE LIMITED</strong>
        </p>
        <p>
            <strong>TERMS OF USE</strong>
        </p>
        <p class="space_bottom">Please read this agreement ("Agreement") carefully before accessing or using this web site ("Site"). By accessing or using the Site, you agree to be bound by this Agreement. Innergize Solutions Private Limited, its
            subsidiaries, affiliates, associate companies, consultants, partners, printers, authors and suppliers provide the information and services (''Services'') on this Site to you, (the "User"), conditioned on your acceptance without modification of the
            terms, conditions and notices contained herein. Your use of this Site constitutes your agreement to all such terms, conditions and notices. The information and Services offered on this Site are provided with the understanding that neither Innergize
            Solutions Private Limited nor its suppliers are engaged in rendering any professional services or advice. Your use of the Site is subject to the additional disclaimers and caveats that may appear throughout the Site. Innergize Solutions Private
            Limited, its associate companies, its consultants, authors, partners, suppliers, printers and agents assume no responsibility for any consequence relating directly or indirectly to any action or inaction that you take based on the information,
            Services or other materials on this Site. While Innergize Solutions Private Limited strives to keep the information on this Site accurate, complete and up-to-date, Innergize Solutions Private Limited, its subsidiaries, affiliates, associate
            companies, consultants, authors, partners, printers, agents and suppliers cannot guarantee, and will not be responsible for any damage or loss related to, the accuracy, completeness or timeliness of the information.</p>
        <p>
            <strong>PERSONAL AND NON-COMMERCIAL USE LIMITATION:</strong>
        </p>
        <p>
            <strong>PROHIBITED USES</strong>
        </p>
        <p class="space_bottom">You may access, download and print materials on this Site for your personal and non-commercial use. If and when requested by Innergize Solutions Private Limited, you agree to provide true, accurate and complete User
            information and to refrain from impersonating or falsely representing your affiliation with any person or entity. Except with the prior written permission of Innergize Solutions Private Limited, you agree to refrain from accessing or attempting to
            access password protected, secure or non-public areas of this Site. Unauthorized individuals attempting to access prohibited areas of this Site may be subject to prosecution.</p>
        <p>
            <strong>PROPRIETARY RIGHTS</strong>
        </p>
        <p class="space_bottom">All materials on this Site (as well as the organisation and layout of the Site) are owned and copyrighted or licensed by Innergize Solutions Private Limited, its affiliates or its suppliers. © 2006 Innergize Solutions Private
            Limited. All rights reserved. No reproduction, distribution, or transmission of the copyrighted materials on this Site is permitted without the prior written permission of Innergize Solutions Private Limited. Innergize Solutions Private Limited
            neither warrants nor represents that your use of materials will not infringe the rights of third parties not owned by or affiliated with Innergize Solutions Private Limited.</p>
        <p>
            <strong>TRADEMARKS</strong>
        </p>
        <p>Innergize Solutions Private Limited and other Innergize Solutions Private Limited logos, product and service names are trademarks owned by/licensed to Innergize Solutions Private Limited by third parties (the "Marks"). Without the prior written
            permission of Innergize Solutions Private Limited, or its appropriate affiliates, you agree not to display or use in any manner, the Marks. Nothing contained in this Site should be construed as granting, by implication, estoppels, or otherwise, any
            license or right in and to the Marks without the express written permission of Innergize Solutions Private Limited or such third party.</p>
        <p>All other trademarks are the property of their respective owners.</p>
        <p class="space_bottom">Your misuse of the material and/or Marks on the Site and in its contents, except as provided in this Agreement, is strictly prohibited. You are advised that Innergize Solutions Private Limited will aggressively enforce its
            intellectual property rights in the site and its contents to the fullest extent of the law, including by seeking appropriate remedies including criminal sanctions solely at your risk as to costs and consequences.</p>
        <p>
            <strong>NO UNLAWFUL OR PROHIBITED USE</strong>
        </p>
        <p class="space_bottom">As a condition of your use of this Site, you warrant to Innergize Solutions Private Limited that you will not use this Site for any purpose that is unlawful or prohibited by these terms, conditions and notices. You may not use
            the Innergize Solutions Private Limited Site/Services in any manner which could damage, disable, overburden, or impair any Innergize Solutions Private Limited Site/ Services (or the network(s) connected to any Innergize Solutions Private Limited
            Site/Service(s)) or interfere with any other party's use and enjoyment of any Innergize Solutions Private Limited Site/Service(s). You may not attempt to gain unauthorised access to any Innergize Solutions Private Limited Site/Services, other
            accounts, computer systems or networks connected to any Innergize Solutions Private Limited Site/Services, through hacking, password mining or any other means (whether now known or hereafter developed or invented). You may not obtain or attempt to
            obtain any materials or information through any means not intentionally made available through the Innergize Solutions Private Limited Site/Services. If you violate any of these terms, your permission to use the Site automatically terminates and you
            may be subjected to criminal and civil liability.</p>
        <p>
            <strong>ELIGIBILITY</strong>
        </p>
        <p class="space_bottom">You warrant that you are at least eighteen (18) years of age and possess the legal authority to enter into this Agreement and to use any Services offered on this Site in accordance with all terms and conditions herein. If you
            are buying goods or using the Services, you further warrant that you have legal authority to enter into other binding agreements for the purchase of goods or use of Services. You agree to be financially responsible for all of your use of the Services
            (as well as for use of your account by others, including without limitation minors living with you). You agree and undertake to supervise and be responsible for all usage of minors of the Services under your name or account. You also warrant that all
            information supplied by you or members of your household in using the Services, including without limitation your name, email address, street address, telephone number, credit card number is correct and accurate. Failure to provide accurate
            information may subject you to civil and criminal penalties.</p>
        <p>
            <strong>LIABILITY DISCLAIMER</strong>
        </p>
        <p>You use this Site at your own risk. If your use of this Site or the materials sold thereunder results in the need for replacing material, neither Innergize Solutions Private Limited nor its affiliates are responsible for those costs. In the event
            of materials sold requires replacing the materials, Innergize Solutions Private Limited shall, at its sole discretion, do one of the following:</p>
        <ul>
            <li>replace the materials sold that is returned to Innergize Solutions Private Limited with a copy of client’s receipt; or</li>
            <li>refund the amount paid by you.</li>
        </ul>
        <p>you will receive the remedy elected by Innergize Solutions Private Limited without charge, except that you are responsible for any expenses you may incur (e.g. cost of shipping the materials to Innergize Solutions Private Limited). This limited
            warranty is void if defect in the materials sold has resulted from accident, abuse, misapplication, negligence, abnormal use or improper or inadequate handling by the client, improper use or operation outside the specifications for the materials.</p>
        <p>CHANGES ARE PERIODICALLY MADE AND ADDED TO INNERGIZE SOLUTIONS PRIVATE LIMITED WEBSITE AND TO THE INFORMATION HEREIN. INNERGIZE SOLUTIONS PRIVATE LIMITED, ITS SUBSIDIARIES, AFFILIATES, ASSOCIATE COMPANIES, CONSULTANTS, PARTNERS AND/OR ITS
            RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THIS SITE AT ANY TIME. ALL INFORMATION, MATERIALS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. IN NO EVENT SHALL INNERGIZE SOLUTIONS PRIVATE LIMITED, ITS SUBSIDIARIES,
            AFFILIATES, ASSOCIATE COMPANIES, CONSULTANTS, PARTNERS AND/OR ITS RESPECTIVE SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES INCLUDING BUT NOT LIMITED TO LOSS OF USE, REVENUE OR PROFIT, GOODWILL,
            USE, DATA OR OTHER INTANGIBLE LOSSES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS SITE, SERVICES OR THIS AGREEMENT OR WITH THE DELAY OR INABILITY TO USE THIS SITE, OR FOR ANY INFORMATION, MATERIALS AND SERVICES OBTAINED THROUGH THIS
            SITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF INNERGIZE SOLUTIONS PRIVATE LIMITED, ITS SUBSIDIARIES, AFFILIATES, ASSOCIATE COMPANIES, CONSULTANTS, PARTNERS
            AND/OR ITS RESPECTIVE SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO
            YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE INNERGIZE SOLUTIONS PRIVATE LIMITED SITE/ SERVICES OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE INNERGIZE SOLUTIONS PRIVATE LIMITED SITE/ SERVICES.</p>
        <p>THE INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE CONTAINS VIEWS, OPINIONS AND RECOMMENDATIONS OF USERS OF THE INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE, ADVERTISERS, THIRD PARTY INFORMATION PROVIDERS AND ORGANIZATIONS. THE INNERGIZE SOLUTIONS
            PRIVATE LIMITED WEB SITE DOES NOT WARRANT, REPRESENT OR ENDORSE THE CORRECTNESS, AUTHENTICITY, ACCURACY, COMPLETENESS, RELIABILITY OR VALIDITY OF ANY OPINION OR OTHER INFORMATION DISPLAYED, UPLOADED OR DISTRIBUTED THROUGH THE WEB SITE. INNERGIZE
            SOLUTIONS PRIVATE LIMITED ASSUMES NO RESPONSIBILITY TO KEEP THE MATERIAL CURRENT, COMPLETE, UP-TO-DATE, VALID, AND/OR ACCURATE. INNERGIZE SOLUTIONS PRIVATE LIMITED SHALL NOT BE RESPONSIBLE IN ANY MANNER WHATSOEVER FOR ANY ERRORS OR OMISSIONS IN THE
            MATERIALS EVEN IF SUCH ERRORS OR OMISSIONS ARE DUE TO NEGLIGENCE. YOU ACKNOWLEDGE THAT ANY RELIANCE UPON ANY SUCH OPINION OR INFORMATION SHALL BE AT YOUR SOLE RISK.</p>
        <p>INNERGIZE SOLUTIONS PRIVATE LIMITED MAKES NO WARRANTY OR REPRESENTATION WHATSOEVER REGARDING THE WEB SITE OR ANY CONTENT, ADVERTISING, SERVICES OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE WEB SITE. YOU ACKNOWLEDGE THAT ANY USE OF SUCH
            CONTENT, ADVERTISING, SERVICES OR PRODUCTS PROVIDED THROUGH OR ON THE INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE SHALL BE AT YOUR SOLE RISK. INNERGIZE SOLUTIONS PRIVATE LIMITED EXPRESSLY STATES THAT INNERGIZE SOLUTIONS PRIVATE LIMITED SHALL NOT BE
            RESPONSIBLE OR HELD LIABLE FOR ANY CONTENT, ADVERTISING, SERVICES OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE WEB SITE.</p>
        <p>INNERGIZE SOLUTIONS PRIVATE LIMITED EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION:</p>
        <ul style=" list-style: upper-alpha; list-style-position: inside">
            <li>ANY WARRANTIES AS TO THE AVAILABILITY, ACCURACY, COMPLETENESS OR CONTENT OF INFORMATION, PRODUCTS OR SERVICES WHICH ARE PART OF THE INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE; AND</li>
            <li>WARRANTIES OR FITNESS FOR A PARTICULAR PURPOSE, OR MERCHANTABILITY OR WORKMAN EFFORT OR TITLE OR AGAINST INFRINGEMENT. IN NO EVENT WILL INNERGIZE SOLUTIONS PRIVATE LIMITED, ITS AFFILIATES, LICENSORS, EMPLOYEES, AGENTS OR CONTRACTORS, BE LIABLE TO
                YOU FOR ANY DAMAGES OR LOSSES, INCLUDING WITHOUT LIMITATION INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL OR PUNITIVE DAMAGES RESULTING FROM OR CAUSED BY THE INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE, ITS PUBLIC POSTING BULLETING BOARDS, ITS
                CONTENT OR ANY ERRORS OR OMISSIONS IN ITS CONTENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br>
                THE MATERIALS, CONSULTATIONS AND SERVICES OFFERED ON INNERGIZE SOLUTIONS PRIVATE LIMITED WEB SITE ARE NOT TO BE UNDERSTOOD AS A SUBSTITUTE FOR THE ACCURATE AND APPROPRIATE CONSULTATION WITH COMPETENT ADVISERS.</li>
            <li>ANY SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE.</li>
        </ul>
        <p>
            <strong>INDEMNIFICATION</strong>
        </p>
        <p class="space_bottom">You are prohibited from posting or transmitting any unlawful, threatening, libelous, defamatory, obscene, racial, inflammatory, pornographic, or profane material or any material that could constitute or encourage conduct that
            would be considered a criminal offense, give rise to civil liability, or otherwise violate the law. Innergize Solutions Private Limited will fully cooperate with any law enforcement authorities or court order requesting or directing Innergize
            Solutions Private Limited to disclose the identity of anyone posting any such information or materials. You hereby agree to indemnify and agree to, defend and hold Innergize Solutions Private Limited, its officers, directors, shareholders, employees
            and agents harmless from and against all losses, damages, and costs, including attorneys' fees, resulting from your improper use of any material and/ or Services in a manner not expressly authorized, or any violation of these Terms and Conditions by
            you including, without limitation, copyright and trademark infringement, obscene or indecent postings, and on-line defamation. You hereby agree to completely and fully indemnify Innergize Solutions Private Limited from any losses, costs and damages
            suffered by it. Innergize Solutions Private Limited may at any time, revise these Terms and Conditions by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the then current Terms
            and Conditions.</p>
        <p>
            <strong>USE AND DISCLOSURE</strong>
        </p>
        <p>The personal information including your name, title, company or organization name, work e-mail, work phone, work or home address, information about your job function, information about your company collected on this Site will be used to operate
            the Site and to provide the Service(s) or carry out the transaction(s) you have requested or authorized.</p>
        <p>In support of these uses, Innergize Solutions Private Limited may use personal information to provide you with more effective customer service, to improve the Site and any related Innergize Solutions Private Limited products or services, and to
            make the Site easier to use by eliminating the need for you to repeatedly enter the same information or by customizing the Site to your particular preference or interests. In order to offer you a more consistent experience in your interactions with
            Innergize Solutions Private Limited, information collected by Innergize Solutions Private Limited may be combined with information collected by other Innergize Solutions Private Limited Services.</p>
        <p>We may use your personal information to provide you with important information about the product or Service that you are using, including critical updates and notifications. Additionally, Innergize Solutions Private Limited may send you
            information about other Innergize Solutions Private Limited services, and/or share information with Innergize Solutions Private Limited partners so they may send you information about their services.</p>
        <p>Innergize Solutions Private Limited may merge site-visitation data with anonymous demographic information for research purposes, and Innergize Solutions Private Limited may use this information in aggregate to provide more relevant content. In
            some limited-entry sections of Innergize Solutions Private Limited website, with your approval, Innergize Solutions Private Limited will combine site-visitation data with your personal information in order to provide you with personalized content. If
            you decline permission, Innergize Solutions Private Limited will not provide you the personalized service and won't merge your personal information with site-visitation data.</p>
        <p>When you sign up for a newsletter or agree to receive promotional e-mail, Innergize Solutions Private Limited may use customized links or similar technologies to track e-mail links that you click. Innergize Solutions Private Limited may associate
            that information with your personal information in order to provide you more focused e-mail communications or purchase information. Each e-mail communication includes an unsubscribe link allowing you to stop delivery of that type of communication.</p>
        <p>Some services on Innergize Solutions Private Limited offer individuals the ability to publicly display certain personal information, such as for Innergize Solutions Private Limited partner who wishes to publish contact information as part of
            offering a business service. Participation in such services is always optional.</p>
        <p>Innergize Solutions Private Limited occasionally hires other companies to provide limited services on its behalf, such as web site hosting, packaging, mailing and delivering, answering customer questions about products and services, and sending
            information about Innergize Solutions Private Limited’s materials, special offers, and other services. Innergize Solutions Private Limited will only provide those companies the personal information they need to deliver the service. Innergize
            Solutions Private Limited shall endeavour to ensure that they maintain the confidentiality of the information and are prohibited from using that information for any other purpose.</p>
        <p>Innergize Solutions Private Limited reserves the right to disclose any personal information about you or your use of the Innergize Solutions Private Limited Site/Services, including its contents, without your prior permission if Innergize
            Solutions Private Limited has a good faith belief that such action is necessary to:</p>
        <ul>
            <li>conform to legal requirements or comply with legal process;</li>
            <li>protect and defend the rights or property of Innergize Solutions Private Limited or its affiliated companies;</li>
            <li>enforce the terms or use for the purpose of rendering Services of providing information to the User; or</li>
            <li>act to protect the interests of its members or others.</li>
        </ul>
        <p class="space_bottom">Innergize Solutions Private Limited's performance of this Agreement is subject to existing laws and legal process, and nothing contained in this Agreement is in derogation of Innergize Solutions Private Limited's right to
            comply with governmental, court and law enforcement requests or requirements relating to your use of the Innergize Solutions Private Limited Site/Services or information provided to or gathered by Innergize Solutions Private Limited with respect to
            such use.</p>
        <p>
            <strong>USE OF SERVICES</strong>
        </p>
        <p class="space_bottom">Innergize Solutions Private Limited Site/Services may contain e-mail services, bulletin board services, or other communication facilities designed to enable you to communicate with Innergize Solutions Private Limited, its
            parents, subsidiaries, affiliates and suppliers (collectively, "Communication Services"). Innergize Solutions Private Limited has no obligation to monitor the Communication Services. However, Innergize Solutions Private Limited reserves the right to
            review materials posted to a Communication Service and to remove any materials in its sole discretion. Innergize Solutions Private Limited reserves the right to terminate your access to any or all of the Communication Services at any time, without
            notice, for any reason whatsoever.</p>
        <p>
            <strong>CAVEAT</strong>
        </p>
        <p class="space_bottom">Innergize Solutions Private Limited undertakes no obligations for confidentiality of information provided by you and you would do so entirely at your sole risk. Always use caution when giving out any personally identifying
            information about yourself in any Communication Service.</p>
        <p>
            <strong>MATERIALS PROVIDED TO INNERGIZE SOLUTIONS PRIVATE LIMITED OR POSTED AT ANY INNERGIZE SOLUTIONS PRIVATE LIMITED'S WEB SITE</strong>
        </p>
        <p>Innergize Solutions Private Limited does not claim ownership of the materials you provide to Innergize Solutions Private Limited or post, upload, input or submit to any Innergize Solutions Private Limited Site/Service or its associated services
            for review by the general public (each a "Submission" and collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting your Submission you are granting Innergize Solutions Private Limited, its affiliated companies,
            consultants and agents the necessary permission to use your Submission for reviewing, analysing and examining the Submission by an expert or panel of experts on the subject of the Submission.</p>
        <p>PRIOR PERMISSION OF INNERGIZE SOLUTIONS PRIVATE LIMITED</p>
        <p class="space_bottom">Permission to use any documents (such as articles and other text) and related graphics (such as images, photographs, maps, charts, and illustrations) available from Innergize Solutions Private Limited is granted, provided that
            (1) the proper credit and Innergize Solutions Private Limited copyright notice appears on all copies; (2) use of the documents and graphics available from this Web Site is for informational and non-commercial or personal use only; and (3) no
            documents or graphics, including logos, available from Innergize Solutions Private Limited are modified in any way. Use for any other purpose is expressly prohibited by law, and may result in severe civil and criminal penalties. Violators will be
            prosecuted to the maximum extent possible.</p>
        <p>
            <strong>LINKS TO THIRD PARTY SITES</strong>
        </p>
        <p>This Site may contain hyperlinks to web sites operated by parties other than Innergize Solutions Private Limited, or its affiliates. For example, clicking on a category in the links section on Innergize Solutions Private Limited may bring you to a
            site operated by a party independent of Innergize Solutions Private Limited or its affiliates. Such hyperlinks are provided for your reference only. Innergize Solutions Private Limited does not control such web sites, and is not responsible for their
            contents, including without limitation any link contained in the hyperlinks or any changes or updates of hyperlinks. Inclusion of hyperlinks by Innergize Solutions Private Limited to such web sites does not imply any endorsement of the material on
            such web sites or any association with their operators, and you access and use such sites, including information, material, products and services therein, solely at your own risk. Innergize Solutions Private Limited shall not be responsible for
            webcasting or any other form of transmission received from any hyperlink nor is Innergize Solutions Private Limited responsible, if the hyperlink is not working appropriately.</p>
        <p>Furthermore, because the privacy policy you just read is applicable only when you are on Innergize Solutions Private Limited’s Site, once linked to another web site, you should read that site's privacy policy before disclosing any personal
            information.</p>
        <p class="space_bottom">Innergize Solutions Private Limited shall not be responsible for any dealings with third parties (including advertisers) included within the Innergize Solutions Private Limited Site/Services or participation in promotions,
            including the delivery of and the payment for goods and Services, and any other terms, conditions, warranties or representations associated with such dealings or promotions, as these dealings are solely between the User and the advertiser or other
            third party.</p>
        <p>
            <strong>CHANGES TO SITE</strong>
        </p>
        <p class="space_bottom">Innergize Solutions Private Limited, its associate companies, affiliates consultants, partners, authors, and/or its suppliers reserves the rights to make improvements or changes in the information, Services, products, and
            other materials on this Site including but not limited to changes associated with the use of Site, or terminate this Site, at any time without notice. Innergize Solutions Private Limited may amend and/ or modify this Agreement at any time, and such
            amendments and/ or modifications shall be effective immediately upon posting of the amended and/ or modified Agreement. Accordingly, you agree to review the Agreement periodically, and your continued access or use of this Site after the amendments
            and/ or modifications of this Agreement shall be deemed to be your acceptance of the amended and/ or modified Agreement.</p>
        <p>
            <strong>LANGUAGE OF THE AGREEMENT</strong>
        </p>
        <p class="space_bottom">It is the express will of the parties that this Agreement and all related documents have been drawn up in English.</p>
        <p>
            <strong>GOVERNING LAW</strong>
        </p>
        <p class="space_bottom">This Agreement shall be governed by, interpreted, and enforced in accordance with the substantive laws of the India and disputes arising in respect hereto shall be subject to the exclusive jurisdiction of the relevant courts of Mumbai.</p>
        <p>
            <strong>NO AGENCY</strong>
        </p>
        <p class="space_bottom">This Agreement shall not constitute any party as the legal representative or agent of any other, nor shall any party have the right or authority to assume, create or incur any liability or obligation, express or implied,
            against, in the name of, or on behalf of another party. Except as may be expressly set forth herein, this Agreement is not intended to create and shall not be construed to create a relationship or partnership, joint venture or association between the
            parties.</p>
        <p>
            <strong>PARTIAL INVALIDITY</strong>
        </p>
        <p>If any provision of this Agreement or the application thereof to any person or circumstance is or becomes invalid or unenforceable to any extent, the remainder of this Agreement and the application of such provision to persons or circumstances
            other than those as to which it is held invalid or unenforceable, shall not be affected thereby, and each provision of this Agreement shall be valid and enforceable to the fullest extent permitted by law. Any invalid or unenforceable provision of
            this Agreement shall be replaced with a provision which is valid and enforceable and most nearly gives effect to the original intent of unenforceable provision.</p>
    </div>
</div>
