<section>
    <div class="banner download-banners" auto-height>
        <div class="dark-overlay"></div>
        <div class="head-font">
            <h1>Downloads</h1>
        </div>
    </div>
    <div class="pt50 pb50">
        <div class="pd-side download pb50">
            <uib-tabset active="active">
                <uib-tab ng-repeat="data in Categories" ng-click="OnclickId(data.id)">
                    <uib-tab-heading>
                        <div class="pd20 bold active-made">{{data.name}}</div>
                    </uib-tab-heading>
                    <div class="bg-grey padded">
                      <div class="container">
                        <div class="loading-sec text-center" ng-if="CategoriesWithId.length==0">
                          Loading...
                        </div>
                          <ul class="list-unstyled list-inline ul-download dot-blue dot-grey" ng-if="CategoriesWithId.length>0">
                              <li ng-repeat="catid in CategoriesWithId" ng-click="open(catid,'lg');">{{catid.name}}</li>
                          </ul>
                      </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>
