<footer>
    <div class="footers">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="footer-text text-left">
                        <p>Copyright &copy;
                            {{template.year}}. Innergize Solutions Pvt. Ltd. |
                            <a ui-sref="disclaimer">DISCLAIMER
                            </a> | CIN:U67190MH2006PTC161494
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-text text-right">
                        <p>Designed &amp; Developed by
                            <a href="http://www.wohlig.com" target="_blank" class="color-primary">Wohlig Technology
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
