<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Copyright &copy; {{template.year}}. Innergize Solutions Pvt.Ltd.</span>
                <span>DISCLAIMER</span>
            </div>
            <!-- <div class="col-md-6">
                <div class="pull-right">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>
